[Unit]
Description=Blocks WebSocket Server

[Service]
#when install.sh copies this to /etc/systemd/system, it
#defines the ExecStart line (which is appended below)
